[Unit]
Description=Steam Desktop Insert

[Service]
# Command to execute when the service is started
ExecStart=%h/.local/bin/watch.py

[Install]
WantedBy=default.target
